<div class="container">
    <div class="card">
        <h2 class="card-header title">Rental Detail</h2>
        <div class="card-body">
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> Full Name</li>
                    <li class="list-group-item"> Address</li>
                    <li class="list-group-item"> Email Address</li>
                    <li class="list-group-item"> Contact Number</li>
                    <li class="list-group-item"> Car ID</li>
                    <li class="list-group-item"> Car Type</li>
                    <li class="list-group-item"> Rental Date Start</li>
                    <li class="list-group-item"> Rental Date End</li>
                  </ul>
            </div>
            <hr>
            <div>
                <app-rental-delete></app-rental-delete>
            </div>
        </div>
    </div>
</div>