<div class="container">
    <div class="card">
        <h2 class="card-header title">User List</h2>
        <div class="card-body">
            <div class="card userCard">
                <div class="card-header title">
                    <span class="id">Xx User Key xX</span>
                    <span class="edit">
                        <i class="bi bi-pencil-square editing"></i>
                    </span>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"> Full Name</li>
                    <li class="list-group-item"> email</li>
                    <li class="list-group-item"> contact number</li>
                  </ul>
            </div>
            <div class="card userCard">
                <div class="card-header title">
                    <span class="id">Xx User Key xX</span>
                    <span class="edit">
                        <i class="bi bi-pencil-square editing"></i>
                    </span>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"> Full Name</li>
                    <li class="list-group-item"> email</li>
                    <li class="list-group-item"> contact number</li>
                  </ul>
            </div>
        </div>
    </div>
</div>