.container{
    width: 350px;
}

#carsEditButtonBox1 {
    width: 125px;
    display:inline-block;
    margin-left: 0;
    margin: 0 10px 0 0;
}

#carsEditButtonBox2 {
    width: 100px;
    display:inline-block;
    margin-left: 0;
    margin: 0 10px 0 0;
}
