<div class="container">
    <div class="card">   
        <h2 class="card-header">Edit (Car ID)</h2>
        <div class="card-body">
            <form [formGroup]="editCarForm" (ngSubmit)="onSubmit()" id="editCarForm">
                <div class="form-group">
                    <label for="cmodel">Car Model</label>
                    <input
                    type="text"
                    class="form-control"
                    name="cmodel"
                    formControlName="cmodel"
                    [ngClass]="{ 'is-invalid': submitted && f.cmodel.errors }"/>
                    <div *ngIf="submitted && f.cmodel.errors" class="invalid-feedback">
                        <div *ngIf="f.cmodel.errors.required">Car Model is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="cbrand">Car Brand</label>
                    <input
                    type="text"
                    class="form-control"
                    name="cbrand"
                    formControlName="cbrand"
                    [ngClass]="{ 'is-invalid': submitted && f.cbrand.errors }"/>
                    <div *ngIf="submitted && f.cbrand.errors" class="invalid-feedback">
                        <div *ngIf="f.cbrand.errors.required">Car Brand is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="ctype">Vehicle Type</label>
                    <div>
                        <input
                        type="radio"
                        value="sedan"
                        name="ctype"
                        formControlName="ctype"/>
                        <label for="sedan">Sedan</label>
                    </div>
                    <div>
                        <input
                        type="radio"
                        value="minivan"
                        name="ctype"
                        formControlName="ctype"/>
                        <label for="minivan">Minivan</label>
                    </div>
                    <div>
                        <input
                        type="radio"
                        value="pickup"
                        name="ctype"
                        formControlName="ctype"/>
                        <label for="pickup">Pickup Truck</label>
                    </div>
                    <div>
                        <input
                        type="radio"
                        value="hatchback"
                        name="ctype"
                        formControlName="ctype"/>
                        <label for="hatchback">Hatchback</label>
                        <div *ngIf="submitted && f.ctype.errors" class="invalid-feedback">
                            <div *ngIf="f.ctype.errors.required">Transmission is required</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="transmission">Transmission</label>
                    <div>
                        <input
                        type="radio"
                        value="manual"
                        name="transmission"
                        formControlName="transmission"/>
                        <label for="manual">Manual</label>
                    </div>
                    <div>
                        <input
                        type="radio"
                        value="automatic"
                        name="transmission"
                        formControlName="transmission"/>
                        <label for="automatic">Automatic</label>
                        <div *ngIf="submitted && f.transmission.errors" class="invalid-feedback">
                            <div *ngIf="f.transmission.errors.required">Transmission is required</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="seats">Number of Seats</label>
                    <div>
                        <input
                        type="radio"
                        value="twoseats"
                        name="seats"
                        formControlName="seats"/>
                        <label for="twoseats">2 - Seater</label>
                    </div>
                    <div>
                        <input
                        type="radio"
                        value="fourseats"
                        name="seats"
                        formControlName="seats"/>
                        <label for="fourseats">4 - Seater</label>
                    </div>
                    <div>
                        <input
                        type="radio"
                        value="sevenseats"
                        name="seats"
                        formControlName="seats"/>
                        <label for="sevenseats">7 - Seater</label>
                        <div *ngIf="submitted && f.seats.errors" class="invalid-feedback">
                            <div *ngIf="f.seats.errors.required">Number of seats is required</div>
                        </div>
                    </div>
                </div>

            </form>
            <button class="btn btn-dark" form="editCarForm" id="carsEditButtonBox1">Edit</button>
            <button class="btn btn-light" id="carsEditButtonBox2">Cancel</button>
            <hr>
            <div>
                <app-cars-delete></app-cars-delete>
            </div>
        </div>
    </div>
</div>