.container{
    width: 350px;
}

#userEditButtonBox1 {
    width: 125px;
    display:inline-block;
    margin-left: 0;
    margin: 0 10px 5px 0;
}

#userEditButtonBox2 {
    width: 100px;
    display:inline-block;
    margin-left: 0;
    margin: 0 10px 5px 0;
}
