<div class="container">
    <div class="card">
        <h2 class="card-header title">Reservation List</h2>
        <div class="card-body">
            <div class="card carCard">
                <div class="card-header title">
                    <span class="id">Renter Name</span>
                    <span class="edit">
                        <i class="bi bi-pencil-square editing"></i>
                    </span>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"> Car ID</li>
                    <li class="list-group-item"> Car Type</li>
                    <li class="list-group-item"> Rental Date Start</li>
                    <li class="list-group-item"> Rental Date End</li>
                  </ul>
            </div>
            <div class="card carCard">
                <div class="card-header title">
                    <span class="id">Renter Name</span>
                    <span class="edit">
                        <i class="bi bi-pencil-square editing"></i>
                    </span>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"> Car ID</li>
                    <li class="list-group-item"> Car Type</li>
                    <li class="list-group-item"> Rental Date Start</li>
                    <li class="list-group-item"> Rental Date End</li>
                  </ul>
            </div>
        </div>
    </div>
</div>